services:
  api:
    build: .
    container_name: fraud-api
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:7-alpine
    container_name: fraud-redis
    ports:
      - "6379:6379"
